node_modules
npm-debug.log
dist
build
coverage
.env
.env.local
.env.*.local
.vscode
.idea
.git
.gitignore
Dockerfile
.dockerignore
docker-compose*.yml
logs
*.log
test
jest.config.js
*.spec.ts
README.md
nest-cli.json
tsconfig.json
tsconfig.build.json